@import "tailwindcss";
/* 
@theme {
  --color-orange-50: #fdf2f2;
  --color-orange-100: #fde8e9;
  --color-orange-200: #fbd0d2;
  --color-orange-300: #f5a1a5;
  --color-orange-400: #ec6b71;
  --color-orange-500: #c12f36;
  --color-orange-600: #9a1b22;
  --color-orange-700: #84171d;
  --color-orange-800: #6e1418;
  --color-orange-900: #581014;
} */